
/* Color variables
https://www.w3schools.com/css/css3_variables.asp

Generator: https://coolors.co/4b4e50-f29b9d-f47b91-fbf8cb-99b59a
*/

:root, .colors {
    --green:  #99B59A;
    --green-dark:  #556455;
    --yellow: #E6C893;
    --yellow-dark: #93805E;
}



/*font */
/* guide: https://stackoverflow.com/questions/24990554/how-to-include-a-font-ttf-using-css */

/* Import doesn't work?
@import url(//fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;700&display=swap);
*/

/*font face locally referenced

@font-face {
    font-family: "baloo";
    src: url('http://professionalhospital.ipage.com/caalm/fonts/baloo_r.ttf') format("ttf");
}


/*HTML fonts


body{
  font-family: 'baloo'!important, monospace!important;
}

.a-ember body {
    font-family: 'baloo'!important, monospace!important;
}

.a-ember .a-text-quote {
    font-family: 'baloo'!important,monospace!important;
}


/*Some local change here */



/* ===========
BUTTONS
============== */

.a-button-primary {
    background: var(--green)!important;
    border-color: var(--green)!important;
    color: #fff;
}

.a-button-primary .a-button-inner {
    background: var(--green)!important;
    background: -webkit-linear-gradient(top,var(--green)!important,var(--green)!important);
    background: linear-gradient(to bottom,var(--green)!important,var(--green)!important)
}

.a-button-primary:hover .a-button-inner {
    background: var(--green);
    background: -webkit-linear-gradient(top,var(--green-dark),var(--green-dark));
    background: linear-gradient(to bottom,var(--green-dark),var(--green-dark))
}

.a-button-primary:active .a-button-inner {
    background-color: var(--green);
    background-image: none
}

.a-button-primary.a-button-focus,.a-button-primary:focus,.a-button-primary:hover,.a-button-primary:hover:active {
    border-color: var(--green)
}

.a-button-primary:active {
    border-color: var(--green)
}

.a-button-primary.a-button-focus,.a-button-primary:focus {
    border-color: var(--green)
}

.a-button-primary .a-button-text {
   color: white;
}

.a-icon,.a-link-emphasis:after {
    display: none!important;

}

.a-hires .a-icon,.a-hires .a-link-emphasis:after {
    /*background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-sprite_2x-c5d99e3ff59fde7b73c3a6270cadf470da4d9f64._V2_.png)*/
  display: none!important;
}


/* Landing page ad*/


.display-tall-hero-video_style_display-hero-video__DIHhm
{
  display: none !important;
  height:0px;
}


#navSwmHoliday
{
  display: none !important;

}

#desktop-banner
{
  display: none !important;
}

/*


/* ---------
NAVIGATION
-----------*/

#nav-logo{
margin-left: 100px;
}

/* Got us close
.nav-sprite-v1 .nav-sprite, .nav-sprite-v1 .nav-icon
*/

span.nav-sprite.nav-logo-base
{
  background-image: url(https://uploads-ssl.webflow.com/5e6c7fe65212509242144a0d/5e994b6bd0f2eb57820a25ed_amazon_logo.svg)!important;
  background-repeat: no-repeat!important;
  background-position: 0 0!important;
  background-size: 25px!important;
  opacity: 1;
}

#nav-hamburger-menu
{display: none !important;}

#nav-xshop-container
{display: none !important;}

/*=====+++++

SEARCH
===========*/

/*
#nav-search {
  margin-left: 15%!important
}
*/

#navbar[data-template=layoutSwapToolBar].layout2 #nav-search {
    padding-top: 10px;
    height: 60px;
}

#nav-main

{
  display: none !important;

}

#navbar
{
  padding-bottom: 20px;

}

#navbar.nav-bluebeacon
{
    background-color: var(--green)!important;
}

#navbar.nav-bluebeacon #nav-belt
{
    background-color: var(--green)!important;
}

#navbar .nav-sprite {
    background-size: 350px;
}

#nav-logo.nav-prime-1 .nav-logo-tagline
{
  display: none!important;
}

#nav-cart-count
{
  display: none!important;

}

#navbar.nav-bluebeacon #nav-tools .nav-line-1,#navbar.nav-bluebeacon #nav-xshop .nav-line-1 {
    color: white!important;
}

a#nav-hamburger-menu {

    border-radius: 0;
    border: 0;
}


/* search button change color

#navbar.nav-bluebeacon #nav-search .nav-searchbar.nav-active .nav-search-field,#navbar.nav-bluebeacon #nav-search .nav-searchbar.nav-active .nav-search-scope,#navbar.nav-bluebeacon #nav-search .nav-searchbar.nav-focus .nav-search-field,#navbar.nav-bluebeacon #nav-search .nav-searchbar.nav-focus .nav-search-scope {
    border-top: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);
}

#navbar.nav-bluebeacon #nav-search .nav-searchbar.nav-active .nav-search-scope,#navbar.nav-bluebeacon #nav-search .nav-searchbar.nav-focus .nav-search-scope {
    border-left: 1px solid var(--yellow);
}

#navbar.nav-bluebeacon #nav-search .nav-search-field {
    border: none;
    border-top: 1px solid transparent
}

#navbar.nav-bluebeacon #nav-search .nav-search-field.nav-no-dd-search-field {
    border-radius: 4px 0 0 4px
}

#navbar.nav-bluebeacon #nav-search .nav-search-submit {
    background-color: var(--yellow);
    background-image: none;
    border: none;
    width: 45px
}

#navbar.nav-bluebeacon #nav-search .nav-search-submit.nav-focus,#navbar.nav-bluebeacon #nav-search .nav-search-submit:focus,#navbar.nav-bluebeacon #nav-search .nav-search-submit:hover {
    background-color: var(--yellow);
}




/* Other nav items */
.nav-cart-icon, #nav-link-prime, #icp-nav-flyout
{

  display:none!important;
}

#nav-tools #nav-cart .nav-line-1,#nav-tools #nav-cart .nav-line-2,#nav-tools .nav-cart .nav-line-1,#nav-tools .nav-cart .nav-line-2,#navbar .nav-tools #nav-cart .nav-line-1,#navbar .nav-tools #nav-cart .nav-line-2,#navbar .nav-tools .nav-cart .nav-line-1,#navbar .nav-tools .nav-cart .nav-line-2 {
    margin-left: 0px;
}


#navbar.nav-a11y-t1 #nav-global-location-slot .nav-a:active,#navbar.nav-a11y-t1 #nav-global-location-slot .nav-a:hover,#navbar.nav-a11y-t1 #nav-shop .nav-a:active,#navbar.nav-a11y-t1 #nav-shop .nav-a:hover,#navbar.nav-a11y-t1 #nav-tools .nav-a:active,#navbar.nav-a11y-t1 #nav-tools .nav-a:hover,#navbar.nav-a11y-t1 #nav-xshop .nav-a:active,#navbar.nav-a11y-t1 #nav-xshop .nav-a:hover
{
    border: 0px;
    border-radius: 0px;
}

/*Disclaimer on size and color*/
[cel_widget_id~=MAIN-TOP_BANNER_MESSAGE]
{display: none!important;}

/*Number of results and being able to sort by feature*/
[data-component-type~=s-result-info-bar]
{display: none!important;}

/* Product price fraction*/
.a-price-fraction
{display: none!important;}

/* My name and returns */
/*.nav-line-1
  {display:none!important;}
*/

/*Cart nav flyout*/
#nav-flyout-ewc
{display: none!important;}

#nav-subnav
  {display:none!important;}


/* Remove amazon recommendations, similar to the Tampermonkey script but in CSS so that it's faster */


#gw-layout, #desktop-grid-1, #desktop-grid-2, #desktop-grid-3, #gw-content-grid, #rhf-context, #desktop-ad-btf, #desktop-grid-1-D1, #desktop-grid-1-D2, #gw-desktop-herotator, #nav-swmslot, #gwm-Deck, gwm-CardLoadingIndicator, #rhf-container, #navFooter

{display:none!important;}




/* Custom CSS for JS additions*/
#john_homepage
{
  text-align: center;
  font-size: 40px;
  color: var(--green);
  font-family: PT Serif;
  margin-top: 50px;
  line-height: normal;
}

#pageContent {
    background: white;
    margin: 0 auto;
    max-width: none;
    min-width: 1000px;
    overflow: inherit;
}



/* To Do */
/* Get the search bar into the main section like in Google? */

/*Menus*/
#hmenu-container #hmenu-canvas #hmenu-customer-profile {
    background-color:  #9cb374;
    height: 50px;
    align-items: center
}

#hmenu-customer-profile-left, #hmenu-customer-name, #bia-hcb-widget
{
  display:none!important;
}



/* Search results */

/* Removing Slot ad fucks up the search result. Being able to render the page much predicate on the ad being delivered. They are putting so much priority on the ads in this UX it's insane.
The site becomes unsecure, so I wonder what's going on there.
The hover isn't working.

In the network, it's this the ad system that begins but is not finishing running.
https://aax-us-east.amazon-adsystem.com/e/xsp/getAdj?src=500&slot=auto-bottom-advertising-0&rid=0101aae3f41e625172e627f4067459fd33a25294eba0f9b282d70e0847411a7396b9&callback=aax_xsp_render_ad

The downstream impact is that the ad placement gets borked as well
https://www.amazon.com/gp/aq-feedback/lazyLoad/handler/af-link-handler.html?ie=UTF-8&pl=%7B%22adPlacementMetaData%22%3A%7B%22pageType%22%3A%22Search%22%2C%22slotName%22%3A%22auto-bottom-advertising-0%22%2C%22feedbackType%22%3A%22loomSearch%22%7D%2C%22adCreativeMetaData%22%3A%7B%22adProgramId%22%3A%22undefined%22%2C%22adCreativeId%22%3A%22undefined%22%2C%22adId%22%3A%22undefined%22%7D%7D

Maybe not because Brave is blocking the cross-site tracker from the browser POV
https://aax-us-east.amazon-adsystem.com/e/xsp/getAdj?src=500&slot=auto-bottom-advertising-0&rid=0101aae3f41e625172e627f4067459fd33a25294eba0f9b282d70e0847411a7396b9&callback=aax_xsp_render_ad

Ad system runs when brave is on though. Odd.

Amazon's Choice and Editorial recommendations weren't coming through in on of them.

*/

/* Sponsored
Works well on Rice Cooker with rows, but not the grid views
Will likely need to us Javascript to find this and go upstream to delete.
CSS Attribute Selectors

[data-component-type~=s-impression-logger]
{
  display:none!important;
}

*/

/* This works too*/

/*
[data-component-type~=sp-sponsored-result]
{

 display:none!important;
}
*/

/* Trying it in JS now
document.querySelector('[data-component-type*="sp-sponsored-result"]')
https://en.wikibooks.org/wiki/JavaScript/Removing_elements

*/

/* Unclear what the stuff under this does, but know it's involved*/


.slot__ad
{display:none!important;}

/* doesn't work for ad id some reason below*/
#ad .creative-container{
  display:none!important;
}


[data-component-type~=s-skyscraper-slot]
{display:none!important;}


#pdagEncapsulated
{display:none!important;}




/* Amazon recommends */


.s-shopping-adviser
{
  display:none!important;
}


[cel_widget_id~=SEARCH_RESULTS-SHOPPING_ADVISER]
{

  display:none!important;
}

[data-component-type~=s-filters-panel-view]
{
  display:none!important;
}

/*Ad in the footer, look at #ad for the trouble I've had*/
.amzn-safe-frame-container
  {display:none!important;}

.amzn-safe-frame-footer
  {display:none!important;}

/*Help Footer*/
[cel_widget_id~=MAIN-FEEDBACK]
  {display:none!important;}

/* Not working to pull out the amazon choice label globally*/
#B007WQ9YNO-amazons-choice-label
{
  display:none!important;
}


/* Amazon choice icon */

[data-a-badge-color=sx-gulfstream] {
    background-color: var(--green)!important;
    color: var(--green)!important;
}

[data-a-badge-type=status] .a-badge-label {
    max-width: 200px;
    background-color: #232F3E;
    padding: 0 6px 0 10px;
}

[data-a-badge-type=status] .a-badge-label:after
{
    display:none!important;
}

/* ============
PRODUCT RESULTS
===============
*/

.a-size-base.a-color-secondary
{display:none!important;}

/* Icon deal */

[data-a-badge-type~=deal]
  {display:none!important;}

/* Prime discount / get it delivered in a day*/
.a-price[data-a-color=secondary]
  {display:none!important;}

/* To-Do John: Gets rid of stars and free one day but also blows away purchase options and image gallery
.a-spacing-top-micro
  {display:none!important;}
*/


/*Coupon*/
[data-component-type~=s-coupon-component]
  {display:none!important;}

/*Amazone choice, best seller, etc. Will want to watch out where this impacts and could limit scope to the search results page */
.a-badge
  {display:none!important;}






/*================
PRODUCT PAGE
================== */

#percolate-ui-ilm_div   {display:none!important;}

/* Credit card promo */
.maple-banner {display:none!important;}

#ourprice_shippingmessage
  {display:none!important;}

.a-color-price{

  color: black!important;
}


/* Frequently brought together */
#sims-consolidated-1_feature_div
  {display:none!important;}

/* Sponsored products */
#sims-consolidated-2_feature_div
 {display:none!important;}

/*Other items customers buy after this one */
#sims-consolidated-3_feature_div
 {display:none!important;}

/* Special offer and promo */
#promotions_feature_div
{display:none!important;}


#buyNow
{display:none!important;}

/* Add other items on check out */
#simpleBundleV2_feature_div
{display:none!important;}

#wishlistButtonStack
{display:none!important;}

#digital-dash-create
{display:none!important;}

.a-icon-prime
{display:none!important;}

/*Social share */
#tellAFriendBox_feature_div
{display:none!important;}

#sponsoredProducts2_feature_div
{display:none!important;}

#holidayDeliveryMessage_feature_div
{display:none!important;}


/* Rice cooker style */
#mirai-btf-shopbylook-row
{display:none!important;}

img[alt="PillPack"]
{display:none!important;}


#breadcrumb-back-link, .a-breadcrumb-divider{
  font-size: 15px;
  color: var(--green)!important;
}

#wayfinding-breadcrumbs_container{
  margin-top: 15px;

}

.a-color-state {
   color: var(--green)!important;
}

#dpx-btf-hlcx-comparison_feature_div
{display:none!important;}

/* Add to cart */

span#submit.add-to-cart{
  color: var(--green)!important;

}



/* Bananagrams - Low priced items to consider */
#cerberus, #cerberusVotingContainer
{display:none!important;}


/* Chocking hazard warning */
#cpsia-product-safety-warning_feature_div
{display:none!important;}






/* Purchase Flow */

/* After adding to cart - Discover Additional Products */
#attach-accessories
{display: none!important;}





/* =======
Category landing pages
===============
*/


.acs-shwcs-image-wrap-inner
{display: none!important;}

.bxc-carousel
{display: none!important;}

#heroSlideshowBillboard_351355
{display: none!important;}

div#vxd-brandfarm-brandFarm_300504
{display: none!important;}

/* Office*/
.bxc-grid__row
{display: none!important;}

#bx-root
{display: none!important;}

/* Toyds */

.GB-M-COMMON
{display: none!important;}

/* Amazon TV / Live to promote toys */
#live-flagship-root
{display: none!important;}

/* SEO bottom */
.rcmBody
{display: none!important;}


/* =============
MOBILE
============== */

.nav-blueheaven #nav-logobar,.nav-ftr-batmobile #nav-logobar {
    height: 44px;
    border-bottom: 1px solid var(--green);
    background-color: var(--green);
    background: var(--green);
    background: linear-gradient(to bottom,var(--green),var(--green));
    background: -moz-linear-gradient(top,var(--green),var(--green));
    background: -webkit-linear-gradient(top,var(--green),var(--green));
    background: -o-linear-gradient(top,var(--green),var(--green));
    background: -ms-linear-gradient(top,var(--green),var(--green))
}

/* Try the amazon app */

#a-popover-1
{display: none!important;}


/* Specific brand search */

[data-creative-variation~=deal]
{display: none!important}
