/*This is a universal list across all websites where there is a shared language of CSS*/

/* Pulled from the best no ad, annoyances lists around the world

EasyList: https://easylist.to/easylist/easylist.txt
uBlock:
https://github.com/uBlockOrigin/uAssets/blob/master/filters/annoyances.txt
https://github.com/uBlockOrigin/uAssets/blob/master/filters/filters.txt

*/

/* Sub segment of the list that I extracted and put into a GSheet
https://docs.google.com/spreadsheets/d/17Jq64E1LNm_9b3-U7U76EydJhtXY6qpLyDMYV2hniDk/edit#gid=0
*/

.adsplat,
.adsponsor,
.adspop,
.adspost,
.adspot,
.adspot-300x250-pos1-container,
.adspot-title,
.adspot1,
.adspot200x90,
.adspot468x60,
.adspot728x90,
.adspotGrey,
.adspot_468x60,
.adspot_728x90,
.adsprefooter,
.adspreview,
.adsrecnode,
.adsright,
.adss,
.adss-rel,
.adsskyscraper,
.adssmall,
.adssquare,
.adssquare2,
.adstext,
.adstextpad,
.adstipt,
.adstitle,
.adstop,
.adstory,
.adstrip,
.adstxt,
.adstyle,
.adsupperugo,
.adsupperugo_txt,
.adswidget,
.adswitch,
.adsxpls,
.adsystem_ad,
.adszone,
.adt-300x250,
.adt-300x600,
.adt-728x90,
.adtab,
.adtable,
.adtag,
.adtc,
.adtech,
.adtech-ad-widget,
.adtech-banner,
.adtech-boxad,
.adtech-top-ad,
.adtechMobile,
.adtech_wrapper,
.adtester-container,
.adtext_gray,
.adtext_horizontal,
.adtext_onwhite,
.adtext_vertical,
.adtext_white,
.adtextleft,
.adtextright,
.adtexts,
.adthx,
.adtile,
.adtips,
.adtips1,
.adtoggle,
.adtop,
.adtop-border,
.adtops,
.adtower,
.adtravel,
.adtv_300_250,
.adtxt,
.adtxtlinks,
.adult-adv,
.adunit,
.adunit-300-250,
.adunit-active,
.adunit-container,
.adunit-middle,
.adunit-parent,
.adunit-purch,
.adunit-side,
.adunit-title,
.adunit-wrap,
.adunit125,
.adunit160,
.adunit300x250,
.adunit468,
.adunitContainer,
.adunit_210x509,
.adunit_300x100,
.adunit_300x250,
.adunit_300x600,
.adunit_607x110,
.adunit_728x90,
.adunit_content,
.adunit_footer,
.adunit_leaderboard,
.adunit_maincol_right,
.adunit_rectangle,
.adunitfirst,
.adunitrd,
.adup-ad-container,
.adv--desktop-top,
.adv--intermingled,
.adv--leaderboard,
.adv--square,
.adv-160,
.adv-200-200,
.adv-250-250,
.adv-300,
.adv-300-1,
.adv-300-250,
.adv-300x250,
.adv-300x250-generic,
.adv-336-280,
.adv-4,
.adv-468-60,
.adv-700,
.adv-728,
.adv-970,
.adv-980x60,
.adv-ad,
.adv-background,
.adv-banner,
.adv-bar,
.adv-before-news-body,
.adv-block,
.adv-border,
.adv-bottom,
.adv-box,
.adv-box-holder,
.adv-box-wrapper,
.adv-carousel,
.adv-center,
.adv-click,
.adv-comment--opened,
.adv-comments,
.adv-cont,
.adv-cont1,
.adv-container,
.adv-conteiner,
.adv-dvb,
.adv-format-1,
.adv-full-width,
.adv-google,
.adv-halfpage,
.adv-header,
.adv-home-300x600,
.adv-in-body,
.adv-inset,
.adv-intext,
.adv-intext-label,
.adv-key,
.adv-label,
.adv-lb,
.adv-lb-wrap,
.adv-leaderboard,
.adv-leaderboard-banner,
.adv-list,
.adv-list__link,
.adv-list_inner,
.adv-lshaped-wrapper,
.adv-mid-rect,
.adv-mid-rect--right,
.adv-mpu,
.adv-mpu-shoulder,
.adv-outer,
.adv-overlay,
.adv-p,
.adv-phone,
.adv-phone-hp,
.adv-rectangle,
.adv-right,
.adv-right-300,
.adv-rotator,
.adv-script-container,
.adv-search-ad,
.adv-sidebar,
.adv-sidelabel,
.adv-slide-block-wrapper,
.adv-slot-container,
.adv-square-banner,
.adv-squarebox-banner,
.adv-teaser-divider,
.adv-text,
.adv-top,
.adv-top-container,
.adv-top-page,
.adv-under-video,
.adv-unit,
.adv-videoad,
.adv-x61,
.adv1,
.adv200,
.adv200_border,
.adv250,
.adv300,
.adv300-250,
.adv300-250-2,
.adv300-70,
.adv300_100,
.adv300left,
.adv300x100,
.adv300x250,
.adv300x60,
.adv300x70,
.adv336,
.adv350,
.adv460x60,
.adv468,
.adv468x110,
.adv468x90,
.adv728,
.adv728_90,
.adv728x90,
.advBottom,
.advBottomHome,
.advBox,
.advDesktop300x250,
.advImagesbox,
.advInt,
.advLB_PageMiddle,
.advLeaderboard,
.advRightBig,
.advSquare,
.advText,
.advTicker,
.advVideobox,
.advWrappers,
.adv_1,
.adv_120,
.adv_120_600,
.adv_120x240,
.adv_120x600,
.adv_160_600,
.adv_160x600,
.adv_2,
.adv_250,
.adv_250_250,
.adv_300,
.adv_300_300,
.adv_300_top,
.adv_300x250,
.adv_336_280,
.adv_468_60,
.adv_630,
.adv_728_90,
.adv_728x90,
.adv_90,
.adv_PageTop,
.adv__box,
.adv__container--300x250,
.adv__container--728x90,
.adv__text,
.adv_aff,
.adv_amazon_single,
.adv_banner,
.adv_banner_hor,
.adv_bg,
.adv_blocker,
.adv_box,
.adv_box_narrow,
.adv_cnt,
.adv_code,
.adv_default_box_container,
.adv_display,
.adv_flash,
.adv_floater_left,
.adv_floater_right,
.adv_headerleft,
.adv_headerright,
.adv_hed,
.adv_here,
.adv_img,
.adv_in_body_a,
.adv_info_text,
.adv_jump,
.adv_leaderboard,
.adv_left,
.adv_link,
.adv_main_middle,
.adv_main_middle_wrapper,
.adv_main_right_down,
.adv_main_right_down_wrapper,
.adv_medium_rectangle,
.adv_message,
.adv_page_blocker_overlay,
.adv_panel,
.adv_pointer_home,
.adv_pointer_section,
.adv_right,
.adv_sd_dx,
.adv_side1,
.adv_side2,
.adv_sidebar,
.adv_sidebar_300x250,
.adv_standard_d,
.adv_td,
.adv_title,
.adv_top,
.adv_tr,
.adv_txt,
.adv_under_menu,
.adv_underpost,
.adv_x_1,
.adv_x_2,
.advads-5,
.advads-sticky,
.advads-widget,
.advads_widget,
.advallyAdhesionUnit,
.advart,
.advbanner_300x250,
.advbanner_300x600,
.advbanner_970x90,
.advbig,
.advbptxt,
.adver,
.adver-block,
.adver-carousel-cards,
.adver-left,
.adver-text,
.adverTag,
.adverTxt,
.adver_bot,
.adver_cont_below,
.adver_home,
.adveratising,
.adverdown,
.adverhrz,
.adverserve145,
.adverstisement_right,
.advert--background,
.advert--banner-wrap,
.advert--fallback,
.advert--header,
.advert--inline,
.advert--leaderboard,
.advert--mpu,
.advert--mpu--rhs,
.advert--placeholder,
.advert--transition,
.advert--vc,
.advert--vc__wrapper,
.advert-100,
.advert-120x90,
.advert-160x600,
.advert-300,
.advert-300-side,
.advert-300x100-side,
.advert-300x250-container,
.advert-728,
.advert-728-90,
.advert-728x90,
.advert-760,
.advert-arch-top,
.advert-article-bottom,
.advert-autosize,
.advert-banner,
.advert-banner-holder,
.advert-bannerad,
.advert-bg-250,
.advert-block,
.advert-bloggrey,
.advert-body-not-home,
.advert-border,
.advert-bot-box,
.advert-bottom,
.advert-box,
.advert-bronze,
.advert-bronze-btm,
.advert-btm,
.advert-center,
.advert-center_468x60,
.advert-col,
.advert-col-center,
.advert-competitions,
.advert-container,
.advert-content,
.advert-content-item,
.advert-detail,
.advert-dfp,
.advert-double-mpu,
.advert-featured,
.advert-footer,
.advert-full-home-sec,
.advert-full-raw,
.advert-gold,
.advert-group,
.advert-head,
.advert-header-728,
.advert-home-380x120,
.advert-horizontal,
.advert-iab-300-250,
.advert-iab-468-60,
.advert-image,
.advert-info,
.advert-label,
.advert-leaderboard,
.advert-leaderboard-top,
.advert-leaderboard2,
.advert-loader,
.advert-lower-right,
.advert-mini,
.advert-mpu,
.advert-mrec,
.advert-note,
.advert-overlay,
.advert-pane,
.advert-placeholder,
.advert-right,
.advert-section,
.advert-sidebar,
.advert-silver,
.advert-sky,
.advert-skyscraper,
.advert-spot-container,
.advert-stub,
.advert-text,
.advert-three,
.advert-tile,
.advert-title,
.advert-top,
.advert-top-footer,
.advert-txt,
.advert-under-hedaer,
.advert-unit,
.advert-wide,
.advert-wingbanner-left,
.advert-wingbanner-right,
.advert-words,
.advert-wrap,
.advert-wrap1,
.advert-wrap2,
.advert-wrapper,
.advert-wrapper_rectangle_aside,
.advert1,
.advert120,
.advert1Banner,
.advert2,
.advert300,
.advert300-home,
.advert300x100,
.advert300x250,
.advert300x300,
.advert300x440,
.advert300x600,
.advert350ih,
.advert4,
.advert5,
.advert728_90,
.advert728x90,
.advert8,
.advertAreaFrame,
.advertBanner,
.advertBar,
.advertBlock,
.advertBottom,
.advertBox,
.advertCaption,
.advertColumn,
.advertCont,
.advertContainer,
.advertContent,
.advertDownload,
.advertFullBanner,
.advertGenerator,
.advertHeadline,
.advertIframe,
.advertIslandWrapper,
.advertLink,
.advertLink1,
.advertMiddle,
.advertMpu,
.advertRight,
.advertSideBar,
.advertSign,
.advertSlot,
.advertSuperBanner,
.advertText,
.advertTh,
.advertThInnBg,
.advertTitleSky,
.advertWrapper,
.advert_300x250,
.advert_336,
.advert_468x60,
.advert__container,
.advert__fullbanner,
.advert__leaderboard,
.advert__mpu,
.advert__tagline,
.advert_area,
.advert_back_160x600,
.advert_back_300x250,
.advert_back_300xXXX,
.advert_banner,
.advert_banners,
.advert_block,
.advert_box,
.advert_caption,
.advert_cont,
.advert_container,
.advert_div,
.advert_djad,
.advert_google_content,
.advert_google_title,
.advert_header,
.advert_home_300,
.advert_img,
.advert_in_post,
.advert_label,
.advert_leaderboard,
.advert_line,
.advert_list,
.advert_main,
.advert_main_bottom,
.advert_mpu,
.advert_mpu_body_hdr,
.advert_nav,
.advert_note,
.advert_rectangle_aside,
.advert_small,
.advert_societe_general,
.advert_source,
.advert_span,
.advert_surr,
.advert_text,
.advert_top,
.advert_txt,
.advert_wrapper,
.advertasingtxt,
.advertbar,
.advertbox,
.adverteaser,
.advertembed,
.advertheader-red,
.adverthome,
.advertis-left,
.advertis-right,
.advertise-box,
.advertise-here,
.advertise-homestrip,
.advertise-horz,
.advertise-info,
.advertise-inquiry,
.advertise-leaderboard,
.advertise-link,
.advertise-link-post-bottom,
.advertise-list,
.advertise-small,
.advertise-square,
.advertise-top,

{display: none!important;}
